# Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

- Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.
- Use Pandas to read in the measurement and station CSV files as DataFrames.
- Inspect the data for NaNs and missing values. You must decide what to do with this data.
- Save your cleaned CSV files with the prefix clean_.

In [1]:
# Dependencies
import pandas as pd
import os

In [2]:
# Creating the filepaths
filepath1=os.path.join("..","Resources","hawaii_measurements.csv")
filepath2=os.path.join("..","Resources","hawaii_stations.csv")

In [3]:
# Reading the csv files and converting to dataframe
Hawaii_Measurement=pd.read_csv(filepath1)
Hawaii_Stations=pd.read_csv(filepath2)

In [4]:
# Displaying the Hawaii Measurement table to inspect
Hawaii_Measurement.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [5]:
# Checking for the count of rows in DF
Hawaii_Measurement.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [6]:
# Due to discrepancies in the prcp columns checking for the unique values to check for NAN
Hawaii_Measurement["prcp"].unique()

array([  8.00000000e-02,   0.00000000e+00,              nan,
         6.00000000e-02,   1.00000000e-02,   4.00000000e-02,
         1.20000000e-01,   3.00000000e-02,   2.00000000e-02,
         4.30000000e-01,   1.70000000e-01,   1.50000000e-01,
         2.70000000e-01,   2.00000000e-01,   5.00000000e-02,
         9.00000000e-02,   7.00000000e-02,   5.70000000e-01,
         3.10000000e-01,   2.30000000e-01,   1.58000000e+00,
         7.70000000e-01,   1.40000000e+00,   1.30000000e-01,
         5.50000000e-01,   2.20000000e-01,   1.29000000e+00,
         1.30000000e+00,   2.90000000e-01,   1.72000000e+00,
         8.20000000e-01,   1.00000000e-01,   8.80000000e-01,
         4.00000000e-01,   1.11000000e+00,   3.60000000e-01,
         2.10000000e+00,   1.10000000e-01,   5.60000000e-01,
         8.90000000e-01,   1.40000000e-01,   1.60000000e+00,
         5.80000000e-01,   2.80000000e-01,   7.00000000e-01,
         1.80000000e-01,   1.03000000e+00,   3.70000000e-01,
         1.08000000e+00,   4.00000000e+00,   2.42000000e+00,
         1.90000000e-01,   1.00000000e+00,   1.13000000e+00,
         8.00000000e-01,   3.20000000e-01,   3.00000000e-01,
         2.50000000e-01,   3.50000000e-01,   7.40000000e-01,
         1.98000000e+00,   2.01000000e+00,   1.10000000e+00,
         1.60000000e-01,   7.60000000e-01,   3.80000000e-01,
         5.00000000e-01,   4.80000000e-01,   6.40000000e-01,
         4.50000000e-01,   6.60000000e-01,   1.09000000e+00,
         7.90000000e-01,   3.90000000e-01,   2.40000000e-01,
         1.22000000e+00,   6.20000000e-01,   9.30000000e-01,
         8.60000000e-01,   4.60000000e-01,   6.50000000e-01,
         2.60000000e-01,   4.10000000e-01,   4.20000000e-01,
         5.20000000e-01,   1.57000000e+00,   8.50000000e-01,
         3.30000000e-01,   7.50000000e-01,   2.10000000e-01,
         5.40000000e-01,   1.25000000e+00,   4.20000000e+00,
         1.32000000e+00,   5.10000000e-01,   2.62000000e+00,
         1.19000000e+00,   7.30000000e-01,   4.70000000e-01,
         1.70000000e+00,   8.70000000e-01,   3.40000000e-01,
         4.40000000e-01,   4.90000000e-01,   1.95000000e+00,
         3.18000000e+00,   4.94000000e+00,   2.95000000e+00,
         9.90000000e-01,   6.30000000e-01,   5.21000000e+00,
         1.06000000e+00,   1.54000000e+00,   4.88000000e+00,
         3.30000000e+00,   1.05000000e+00,   1.16000000e+00,
         1.33000000e+00,   6.80000000e-01,   1.76000000e+00,
         9.20000000e-01,   4.43000000e+00,   4.02000000e+00,
         6.10000000e-01,   1.56000000e+00,   4.47000000e+00,
         1.55000000e+00,   5.71000000e+00,   2.33000000e+00,
         2.41000000e+00,   5.90000000e-01,   4.60000000e+00,
         1.27000000e+00,   7.10000000e-01,   2.60000000e+00,
         8.30000000e-01,   1.69000000e+00,   9.40000000e-01,
         9.50000000e-01,   1.90000000e+00,   3.03000000e+00,
         1.31000000e+00,   1.59000000e+00,   8.10000000e-01,
         5.98000000e+00,   1.37000000e+00,   1.71000000e+00,
         2.06000000e+00,   1.84000000e+00,   1.35000000e+00,
         1.24000000e+00,   7.20000000e-01,   1.46000000e+00,
         6.00000000e-01,   2.70000000e+00,   1.21000000e+00,
         5.30000000e-01,   1.61000000e+00,   9.10000000e-01,
         6.90000000e-01,   1.78000000e+00,   1.53000000e+00,
         7.65000000e+00,   2.35000000e+00,   2.15000000e+00,
         9.00000000e-01,   1.07000000e+00,   2.90000000e+00,
         2.20000000e+00,   1.45000000e+00,   1.01000000e+00,
         1.62000000e+00,   2.43000000e+00,   2.55000000e+00,
         9.60000000e-01,   3.91000000e+00,   3.33000000e+00,
         1.75000000e+00,   1.14000000e+00,   3.60000000e+00,
         1.88000000e+00,   1.52000000e+00,   2.77000000e+00,
         1.12000000e+00,   1.15300000e+01,   3.48000000e+00,
         1.51000000e+00,   1.44000000e+00,   3.70000000e+00,
         3.85000000e+00,   1.80000000e+00,   1.92000000e+00,
         2.28000000e+00,   2.39000000e+00,   1.91000000e+00,
         1.17000000e+00,   2.80000000e+00,   1.50000000e+00,
         1.48000000e+00,   1.65000000e+00,   7.80000000e-01,
         2.40000000e+00,   2.12000000e+00,   8.40000000e-01,
         1.43000000e+00,   2.50000000e+00,   1.15000000e+00,
         6.30000000e+00,   1.42000000e+00,   1.26000000e+00,
         2.75000000e+00,   1.34000000e+00,   2.02000000e+00,
         2.86000000e+00,   4.95000000e+00,   3.62000000e+00,
         1.82000000e+00,   2.71000000e+00,   6.38000000e+00,
         5.32000000e+00,   1.02000000e+00,   2.48000000e+00,
         2.05000000e+00,   1.96000000e+00,   1.67000000e+00,
         4.76000000e+00,   2.25000000e+00,   1.81000000e+00,
         5.54000000e+00,   2.61000000e+00,   1.38000000e+00,
         1.23000000e+00,   9.70000000e-01,   1.94000000e+00,
         3.43000000e+00,   2.29000000e+00,   2.24000000e+00,
         2.30000000e+00,   1.18000000e+00,   3.01000000e+00,
         5.04000000e+00,   6.70000000e-01,   2.36000000e+00,
         6.25000000e+00,   2.17000000e+00,   3.99000000e+00,
         3.06000000e+00,   3.14000000e+00,   2.49000000e+00,
         8.81000000e+00,   9.80000000e-01,   1.47000000e+00,
         2.69000000e+00,   1.68000000e+00,   4.68000000e+00,
         6.24000000e+00,   2.59000000e+00,   3.47000000e+00,
         2.84000000e+00,   1.39000000e+00,   3.88000000e+00,
         1.87000000e+00,   4.07000000e+00,   3.79000000e+00,
         1.77000000e+00,   2.21000000e+00,   1.97000000e+00,
         3.86000000e+00,   7.97000000e+00,   2.45000000e+00,
         2.96000000e+00,   3.10000000e+00,   1.04000000e+00,
         9.64000000e+00,   3.53000000e+00,   2.32000000e+00,
         1.79000000e+00,   1.73000000e+00,   2.98000000e+00,
         2.03000000e+00,   1.74000000e+00,   3.05000000e+00,
         3.00000000e+00,   3.44000000e+00,   2.83000000e+00,
         1.41000000e+00,   2.56000000e+00,   1.83000000e+00,
         2.14000000e+00,   1.89000000e+00,   4.01000000e+00,
         2.64000000e+00,   4.56000000e+00,   1.86000000e+00,
         2.27000000e+00,   1.49000000e+00,   3.35000000e+00,
         2.07000000e+00,   2.26000000e+00,   2.00000000e+00,
         6.42000000e+00,   5.37000000e+00,   2.63000000e+00,
         2.09000000e+00,   3.23000000e+00,   3.27000000e+00,
         2.87000000e+00,   2.57000000e+00,   2.13000000e+00,
         5.96000000e+00,   2.92000000e+00,   2.81000000e+00,
         1.85000000e+00,   4.32000000e+00,   8.06000000e+00,
         2.97000000e+00,   3.40000000e+00,   2.44000000e+00,
         2.79000000e+00,   4.30000000e+00,   1.20000000e+00,
         2.31000000e+00,   4.03000000e+00,   3.26000000e+00,
         2.47000000e+00,   1.36000000e+00,   2.23000000e+00,
         1.28000000e+00,   4.81000000e+00,   2.67000000e+00,
         6.83000000e+00,   4.18000000e+00,   3.38000000e+00,
         1.66000000e+00,   3.68000000e+00,   5.09000000e+00,
         5.35000000e+00,   2.46000000e+00,   6.70000000e+00,
         3.46000000e+00,   2.11000000e+00,   2.37000000e+00,
         2.82000000e+00])

In [7]:
# Calculating the mean preciptatiion value to replace the rows that has preciptation as NAN
mean_prcp=Hawaii_Measurement["prcp"].mean()

# Filling the NA's with the mean value
Hawaii_Measurement["prcp"].fillna(mean_prcp, inplace=True)

In [8]:
# Checking for the count of variables  after removing NAN's
Hawaii_Measurement.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [9]:
# Viewing the table after removing NAN's
Hawaii_Measurement.head(10)

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73
5  USC00519397  2010-01-07  0.060000    70
6  USC00519397  2010-01-08  0.000000    64
7  USC00519397  2010-01-09  0.000000    68
8  USC00519397  2010-01-10  0.000000    73
9  USC00519397  2010-01-11  0.010000    64

In [10]:
# Viewing the Hawaii Station table
Hawaii_Stations.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [11]:
# Checking for count of rows in Hawaii Station DF
Hawaii_Stations.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [12]:
# Storing the cleansed Data Frames
outputfilepath1=os.path.join("..","Resources","clean_hawaii_measurements.csv")
outputfilepath2=os.path.join("..","Resources","clean_hawaii_stations.csv")
Hawaii_Measurement.to_csv(outputfilepath1,index=False)
Hawaii_Stations.to_csv(outputfilepath2,index=False)